.routeBlock{
  display: grid;
  grid-template-columns: 50px auto;
  white-space: nowrap;
  height:5em;
}

.circle{
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  height: 2em;
  z-index: 5;
  width: 2em;
  background-color: #bbb;
  border-radius: 50%;
}

.stationName{
  grid-row: 1;
  grid-column: 2;
  font-size: 1.5em;
  text-align: left;
  margin: 0;
  align-self: center;
}