.inbetween{
  margin-left:-5px;
  margin-right:-5px;
  border-style:solid;
  width:20px;
  height:10px;
  cursor: pointer;
  flex:1;
  z-index: 2;
  background-color: white;
}

.inbetween:hover{
    width:40px;
    height:20px;
}