#root {
  text-align: center;
  width: 100vw;
}

#routeContainer{
  width:100%;
}

#firstColumnPlaceHolder{
  grid-row:1;
  grid-column:1;
  width:2em;
}
#secondColumnPlaceHolder{
  grid-row:1;
  grid-column:2;
}

.routeHeader{
  display: grid;
  grid-template-columns: 50px auto;
  white-space: nowrap;
}

.routeMap{ 
  padding-left:15em;
  padding-right:15em;
}

#loadingGif{
  width:10em;
  height:10em;
}

form select,
form input {
  font-size: 1.2em;
  margin-top:1em;
  margin-left:.3em;
  margin-right:.3em;
  padding: 0.5em 0.75em;
  height: auto;
}