#root {
  text-align: center;
}

.inbetween{
  border-style:solid;
  width:20px;
  height:10px;
  cursor: pointer;
  flex:1;
}

.inline{
  display:inline-block
}

.circle{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
}

.stationName{
  display:inline-block;
  margin:0;

  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.travelBlock{
  display: flex;
  align-items: center;
}

.routeBlock{
  display: inline-block;
  width: 4em;
}

#routeContainer{
  width:100%
}
